@model Contacts.Models.Contact

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактировать</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Контакт</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)
    
            <div class="form-group">
                @Html.LabelFor(model => model.Name, "Имя")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Surname, "Фамилия")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Surname)
                    @Html.ValidationMessageFor(model => model.Surname)
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Birthday, "День рождения")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Birthday)
                    @Html.ValidationMessageFor(model => model.Birthday)
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Sex, "Пол")
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Sex, ViewBag.Sexes as SelectList)
                    @Html.ValidationMessageFor(model => model.Sex)
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Назад", "Index")
    </div>
</body>
</html>
